<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
	<!-- My CSS -->
    <link rel="stylesheet" href="/static/css/Feedback.css">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	
	 <!-- accessing Jquery through online -->
	 <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
	<title>SCMXpertLite | Feedback</title>
</head>
<body>
	<div id="message"> </div>
	<div class="wrapper">
		
		<h2>SCMXpertLite</h2>
		<form id="feedbackForm">
			<div class="rating">
				<input type="number"  id="ratings" name="rating" hidden required>
				<i class='bx bx-star star' style="--i: 0;"></i>
				<i class='bx bx-star star' style="--i: 1;"></i>
				<i class='bx bx-star star' style="--i: 2;"></i>
				<i class='bx bx-star star' style="--i: 3;"></i>
				<i class='bx bx-star star' style="--i: 4;"></i>
			</div>
			<textarea name="opinion" id="opinion" cols="30" rows="5" placeholder="Your opinion..." required></textarea>
			<div class="btn-group">
				<button id="submit" type="submit" class="btn submit"><a>Submit</a></button>
				<button class="btn cancel"><a href="/dashboard">Cancel</a></button>
			</div>
		</form>
	</div>
	<script src="/static/javaScript/Feedback.js"></script>
  
</body>
</html>