<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/Contact_Super_Admin.css">

    <title>Dashboard</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <img src="/static/pictures/icon.webp" alt="" height="30px" width="30px" style="margin-left: 20px;">
            <span class="text" style="margin-left: 10px;"> SCMXpertLite</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/myAccount">
                    <i class='bx bxs-group'></i>
                    <span class="text">My Account</span>
                </a>
            </li>
            <li>
                <a href="/myShipment">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">My Shipment</span>
                </a>
            </li>
            <li>
                <a href="/newShipment">
                    <i class='bx bxs-truck'></i>
                    <span class="text">New Shipment</span>
                </a>
            </li>
            <li>
                <a href="/deviceData">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Device Data</span>
                </a>
            </li>
            <li class="active">
                <a href="/contactSuperAdmin">
                    <i class='bx bxs-contact'></i>
                    <span class="text">Contact Super Admin</span>
                </a>
            </li>


        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout" onclick="signOut()">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <h2>Hi <b style="color: blue;">{{name}}</b>, View Super Admin Details</h2>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Super Admin Details</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Contact Super Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <!-- MAIN -->

    </section>
    <!-- CONTENT -->

    <div class="box">
        <div class="head">
            <h2>Hi <b style="color: blue;">{{name}}</b>, If you have any Queries about SCMXpertLite, </h2>
            <h2>Contact Super Admin Through the mail or use Feedback to convey the Query.</h2>
        </div>
        <table >
            <tr>
                <th>Name</th>
                <th>:</th>
                <td> Amudala Reddy Sekhar </td>
            </tr>
            <tr>
                <th>Email</th>
                <th>:</th>
                <td>amudalareddysekhar@gmail.com</td>
            </tr>
        </table>
        <p id="information">Anyone want to become an admin, Send a mail to the Super Admin along with the Username and Valid reason to become an admin. <br> 
        If you already an admin, Ignore this text.</p>
    </div>


    <!-- getting role and it will not display to the user -->
    <p id="role" style="display: none;">{{role}}</p>

    <script >
        // Code for displaying active links
        const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

        allSideMenu.forEach(item => {
            const li = item.parentElement;

            item.addEventListener('click', function () {
                allSideMenu.forEach(i => {
                    i.parentElement.classList.remove('active');
                })
                li.classList.add('active');
            })
        });




        // TOGGLE SIDEBAR --> to display the sidebar after clicking the menu icon 
        const menuBar = document.querySelector('#content nav .bx.bx-menu');
        const sidebar = document.getElementById('sidebar');

        menuBar.addEventListener('click', function () {
            sidebar.classList.toggle('hide');
        })

        const role = getElementById('role').innerText
        if(role === "Admin"){

        }

    </script>
</body>

</html>