<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/Dashboard.css">

    <title>Dashboard</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <!-- <i class='bx bxs-smile'></i> -->
            <img src="/static/pictures/icon.webp" alt="" height="30px" width="30px" style="margin-left: 20px;">
            <span class="text" style="margin-left: 10px;">  SCMXpertLite</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/myAccount">
                    <i class='bx bxs-group'></i>
                    <span class="text">My Account</span>
                </a>
            </li>
            <li>
                <a href="/myShipment">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">My Shipment</span>
                </a>
            </li>
            <li>
                <a href="/newShipment">
                    <i class='bx bxs-truck'></i>
                    <span class="text">New Shipment</span>
                </a>
            </li>
            <li>
                <a href="/deviceData">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Device Data</span>
                </a>
            </li>
            

        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout" onclick="signOut()">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <h2>Hi  <b style="color: blue;">{{name}}</b>, Welcome to SCMXpertLite</h2>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <!-- MAIN -->

    </section>
    <!-- CONTENT -->

    <ul class="box-info">
        <li class="bg1">
            <span class="text">
                <button><a href="/newShipment">New Shipment</a></button>
            </span>
        </li>
        <li class="bg2">
            <span class="text">
                <button><a href="/deviceData">Device Data</a></button>
            </span>
        </li>
    </ul>

    <div id="success">{%if message%}{{message}}{%endif%}</div>
    <div id="Error">{%if Error%}{{Error}}{%endif%}</div>

    <!-- feedback -->
    <div class="FB">
        <div id="feedback">
            <button><a href="/feedback">Feedback</a></button>
        </div>
    </div>
    
    <!-- View feedback -->
    <div class="FB">
        <div class="View_Feeback" id="view_user_feedback">
            <button><a href="/viewUserFeedback">View User's Feedback</a></button>
        </div>
    </div>


    <!-- getting role and it will not display to the user -->
    <p id="role" style="display: none;">{{role}}</p>

    <script src="/static/javaScript/Dashboard.js"></script>
</body>

</html>