<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <title>Signin | Change Password</title>
    <link rel="stylesheet" href="/static/css/Forgot_Password_Changing.css">
</head>

<body>

    <div class="container">
        <div id="error">{%if error%}{{error}}{%endif%}</div>
        <div class="popup">
            <h2>Change Your Password</h2>
            <form action="/forgotPasswordChanging" method="Post">
                <label for="" id="label1">Enter New Password:</label><br>
                <input type="password" id="Password" name="password" placeholder="Enter New Password" required
                    style="margin-bottom: 20px;"><br>
                <label for="" id="label2">Re-Enter New Password:</label> <br>
                <input type="password" id="Password" name="re_type_password" placeholder="Re-type New Password" required>
                <button type="submit">Change Password</button>
            </form>
            <div class="goto">
                <p>&#8592; Goto <a href="/signin">Login</a> Page </p>
            </div>
        </div>
    </div>
    <script>

        // Getting Error Message
        const errorMessage = document.getElementById('error');

        // Hiding the Error Message
        function hideErrorMessage() {
            errorMessage.style.display = 'none';
        }

        // Delay in milliseconds (e.g., 3000 for 3 seconds)
        const delay = 3000;

        // Hiding Error message after Delay time
        setTimeout(hideErrorMessage, delay);
    </script>

</body>

</html>