<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <title>Signin | GotO Login</title>
    <link rel="stylesheet" href="/static/css/Goto_Login.css">
</head>
<body>
    <div class="container">
        <div class="popup">
            <h2>Password Changed Successfully..</h2>
            <button><a href="/signin">GoTo SignIn</a></button>
        </div>
    </div>
</body>
</html>

