<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
  <title>Home Page</title>
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
  
  <div class="navbar">
    <div class="image">
      <img src="/static/pictures/logo.png" alt="Logo" height="70px" width="100px">
    </div>
    <div class="btn">
      <div class="home">
        <button><a href="/" id="btn2">Home</a></button>
      </div>
      <div class="register">
        <button><a href="/signup" id="btn1">Register</a></button>
      </div>
      <div class="signin">
        <button><a href="/signin" id="btn2">SignIn</a></button>
      </div>
    </div>
  </div>

  
  <!-- horizontal line -->
  <div class="line">
    <hr>
  </div>


  <!-- feedback -->
  <div class="FB">
    <div class="feedback">
      <button ><a href="/signin" onclick="feedback()">Feedback</a></button>
    </div>
  </div>

  <div class="background">
    <div class="cont1">
      <div class="heading">
        <h1>SCMXpertLite</h1>
      </div>
      <div class="doc">
        <p>SCMXpertLite is an Outsourced Supply Chain and Business Transformation company. We “Monitor, Control and
          Transform” Supply Chain by offering “Shipment Monitoring As-A-Service”. We leverage digital technologies (IOT,
          AI and Blockchain) for real-time planning and monitoring at reduced cost using our Proprietary Platform.</p>
        <div class="btn1">
          <button><a href="/signin">login &#x2192;</a></button>
        </div>
      </div>
    </div>
    <div class="img">
      <img src="/static/pictures/image4.jpg" alt="image" height="500px" width="700px" style="border-radius: 30px;">
    </div>
  </div>

  <script>
    function feedback(){
      window.alert("Signin to provide Feedback for SCMXpertLite")
    }
  </script>
</body>

</html>