<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- accessing Jquery through online -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    
</head>

<body id="body">
    <div id="full_body">
        <div class="background"></div>

        <div class="navbar">
            <div class="image">
                <img src="/static/pictures/logo.png" alt="Logo" height="70px" width="100px">
            </div>
            <div class="btn">
                <div class="home">
                    <button><a href="/" id="btn2">Home</a></button>
                </div>
                <div class="register">
                    <button><a href="/signup" id="btn1">Register</a></button>
                </div>
                <div class="signin">
                    <button><a href="/signin" id="btn2">SignIn</a></button>
                </div>
            </div>
        </div>

        <div class="line">
            <hr>
        </div>

        <!-- error message printing -->
        <div class="visible">
            <div id="error">{%if message%}{{message}}{%endif%}</div>
            <div id="msg">{%if success%}{{success}}{%endif%}</div>
        </div>

        <div class="container">
            <h1>SCMXPertLite</h1>
            <h2>Login in now</h2>
            <form id="signin-form" action="/signin" method="post" name="form1">

                <div class="fields">
                    <label for="mail">Email Address*</label>
                    <input type="email" id="mail" name="username" placeholder="Enter your Email Address" required>
                </div>
                <div class="fields">
                    <label for="password">Password*</label>
                    <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                    <i class="far fa-eye-slash" id="eye" style="position: relative; right: 23%; top: 7px;"
                        onclick="togglePassword()"> Show Password</i>
                </div>

                <div class="captcha">
                    <input type="text" name="captcha" placeholder="Enter Captcha" required style="width: 200px;">
                    <span id="captcha"></span>
                </div>
                  <p id="refresh" style="font-size: 20px; width: 40px; position: absolute; left: 340px; top: 275px; cursor: pointer; background-color: blue; 
                  color: white; border-radius: 12px;">↻</p>

                <!-- Sending Original captcha to the server side files[login.py]  -->
                 <input type="text" name="original_captcha" id="original_captcha" style="display: none;"> 


                <div class="submit">
                    <button type="submit" id="submit">Sign In</button>
                </div>
                <hr id="inner_line">
                <p>Don't have an account? <a href="/signup">Register</a></p>
                <p><a href="/forgotPassword">Forgot your Password?</a></p>
               
            </form>
        </div>
    </div>
   

    <script src="/static/javaScript/login.js"> </script>
</body>

</html>