<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/NewShipment.css">

    <title>Dashboard | New Shipment</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <img src="/static/pictures/icon.webp" alt="" height="30px" width="30px" style="margin-left: 20px;">
            <span class="text" style="margin-left: 10px;">SCMXpertLite</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/myAccount">
                    <i class='bx bxs-group'></i>
                    <span class="text">My Account</span>
                </a>
            </li>
            <li>
                <a href="/myShipment">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">My Shipment</span>
                </a>
            </li>
            <li class="active">
                <a href="/newShipment">
                    <i class='bx bxs-truck'></i>
                    <span class="text">New Shipment</span>
                </a>
            </li>
            <li>
                <a href="/deviceData">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Device Data</span>
                </a>
            </li>
            <li id="SuperAdmin" >
                <a href="/contactSuperAdmin">
                    <i class='bx bxs-contact'></i>
                    <span class="text">Contact Super Admin</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout" onclick="signOut()">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <h2>Hi  <b style="color: blue;">{{name}}</b>, Create New Shipment</h2>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>New Shipment</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/dashboard">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="/newShipment">New Shipment</a>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
        
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    
    


    <!-- FORM -->
    <div class="forms">
        <form id="NewShipment_form" action="/newShipment" method="post">
            <div id="fields1">
                <div class="left1">
                    <label for="name">Shipment Number<i class="danger-text" style="color: red;">*</i></label><br>
                    <input type="number" id="Shipment_Num" name="shipment_number" placeholder="Enter Shipment number" required>
                </div>
                <div class="right1">
                    <label for="name">Container Number<i class="danger-text" style="color: red;">*</i></label><br>
                    <input type="number" id="Container_Num" name="container_number" placeholder="Enter Container number" required>
                </div>
            </div>   
            <div id="fields2">
                <div class="left2">
                    <label for="RouteDetails">Route details<i class="danger-text" style="color: red;">*</i></label><br>
                    <select id="RouteDetails" name="route_details" placeholder="Select route" required>
                        <option value="" disabled selected>Select route</option>
                        <option value="Tirupati - Kadapa">Tirupati - Kadapa</option>
                        <option value="Tirupati - Hyderabad">Tirupati - Hyderabad</option>
                        <option value="Nellore - Kadapa">Nellore - Kadapa</option>
                        <option value="Nellore - Hyderabad">Nellore - Hyderabad</option>
                    </select>
                </div>
                <div class="right2">
                    <label for="Goods">Goods Type<i class="danger-text" style="color: red;">*</i></label><br>
                    <select id="Goods" name="goods_type" placeholder="Select Goods" required>
                        <option value="" disabled selected>Select Goods</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Medical">Medical</option>
                        <option value="Cosmetics">Cosmetics</option>
                    </select>
                </div>
            </div>  
            <div id="fields3">
                <div class="left3">
                    <label for="Device" >Select Device<i class="danger-text" style="color: red;">*</i></label><br>
                    <select id="Device" name="device_name" placeholder="Select Device" required>
                        <option value="" disabled selected>Select Device</option>
                        <option value="1122334455">1122334455</option>
                        <option value="6677889900">6677889900</option>
                    </select>
                </div>
                <div class="right3">
                    <label for="DeliveryDate" >Expected Delivery Date<i class="danger-text" style="color: red;">*</i></label> <br>
                    <input type="date" id="DeliveryDate" name="delivery_date" required>
                </div>
            </div>
            <div id="fields4">
                <div class="left4">
                    <label for="PO Number" >PO Number<i class="danger-text" style="color: red;">*</i></label><br>
                    <input id="POno" type="number" name="po_number" placeholder="Enter PO Number" required />
                </div>
                <div class="right4">
                    <label for="DeliveryNumber" > Delivery Number<i class="danger-text" style="color: red;">*</i></label><br>
                    <input id="DeliveryNumber" type="number" name="delivery_number" placeholder="Enter Delivery Number" required />
                </div>
            </div>
            <div id="fields5">
                <div class="left5">
                    <label for="NDCNumber" >NDC Number<i class="danger-text" style="color: red;">*</i></label><br>
                    <input id="NDCNumber" type="number" name="ndc_number" placeholder="Enter NDC Number" required />
                </div>
                <div class="right5">
                    <label for="BatchId" >Batch ID<i class="danger-text" style="color: red;">*</i></label><br>
                    <input id="BatchId" type="number" name="batch_id" placeholder="Enter Batch ID" required />
                </div>
            </div> 
            <div id="fields6">
                <div class="left6">
                    <label for="SerialNumber">Serial Number of Goods<i class="danger-text" style="color: red;">*</i></label><br>
                    <input id="SerialNumber" type="number" name="serial_number" placeholder="Enter Serial number of Goods" required />
                </div>
                <div class="right6">
                    <label for="ShipmentDescription" >Shipment Description<i class="danger-text" style="color: red;">*</i></label><br>
                    <textarea id="ShipmentDescription" name="shipment_description" placeholder="Shipment Description" style="height:75px; width:400px" required></textarea>
                </div>
            </div>
            
            <div class="visible">
                <div id="success">{%if message%}{{message}}{%endif%}</div>
                <div id="error">{%if error%}{{error}}{%endif%}</div>
            </div>
            
            <div class="fields7">
                <div class="left">
                    <div class="clear">
                        <button type="reset"><a>clear</a></button>
                    </div> 
                </div>
                <div class="right">
                    <div class="submit">
                        <button type="submit"><a>submit</a></button>
                    </div> 
                </div>
            </div>
                   
        </form>  
    </div>

    <script src="/static/javaScript/NewShipment.js"></script>

</body>

</html>