<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <title>MyAccount | Change Password</title>
    <link rel="stylesheet" href="/static/css/Password_Changing.css">
</head>

<body>
    <div class="container">
        <div id="error">{%if error%}{{error}}{%endif%}</div>
        <div class="popup">
            <h2>Change Your Password</h2>
            <!-- <p>Enter your New Password:</p> -->
            <form action="/passwordChanging" method="Post">
                <label for="" id="label1">Enter Old Password:</label><br>
                <input type="text" id="emailInput" name="Old_Password" placeholder="Enter Old Password" required
                    style="margin-bottom: 20px;"><br>

                <label for="" id="label1">Enter New Password:</label><br>
                <input type="password" id="emailInput" name="New_Password" placeholder="Enter New Password" required
                    style="margin-bottom: 20px;"><br>

                <label for="" id="label2">Re-Enter New Password:</label> <br>
                <input type="password" id="emailInput" name="Re_type_Password" placeholder="Re-type New Password"
                    required>

                <button type="submit">Change Password</button>
            </form>
            <div class="goto">
                <p>&#8592; Goto <a href="/myAccount">MyAccount</a> Page </p>
            </div>
        </div>
    </div>

    <script>

        // Getting Error Message
        const errorMessage = document.getElementById('error');

        // Hiding the Error Message
        function hideErrorMessage() {
            errorMessage.style.display = 'none';
        }

        // Delay in milliseconds (e.g., 3000 for 3 seconds)
        const delay = 3000;

        // Hiding Error message after Delay time
        setTimeout(hideErrorMessage, delay);
    </script>
</body>

</html>