<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/Password_Changing.css">

    <title>MyAccount | Change Password</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <img src="/static/pictures/icon.webp" alt="" height="30px" width="30px" style="margin-left: 20px;">
            <span class="text" style="margin-left: 10px;">SCMXpertLite</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="/dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="active">
                <a href="/myAccount">
                    <i class='bx bxs-group'></i>
                    <span class="text">My Account</span>
                </a>
            </li>
            <li>
                <a href="myShipment">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">My Shipment</span>
                </a>
            </li>
            <li>
                <a href="/newShipment">
                    <i class='bx bxs-truck'></i>
                    <span class="text">New Shipment</span>
                </a>
            </li>
            <li>
                <a href="/deviceData">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Device Data</span>
                </a>
            </li>
            <li id="SuperAdmin" >
                <a href="/contactSuperAdmin">
                    <i class='bx bxs-contact'></i>
                    <span class="text">Contact Super Admin</span>
                </a>
            </li>

        </ul>
        <ul class="side-menu">
            <li>
                <a href="/logout" class="logout" onclick="signOut()">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <h2>Hi <b style="color: blue;">{{name}}</b>, Change Your Password</h2>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Change Password</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="/myAccount">My Account</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="/passwordChanging">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <div class="card">
        <div id="error">{%if error%}{{error}}{%endif%}</div>
        <h2>Change Your Password</h2>

        <div class="form">
            <form action="/passwordChanging" method="Post">
                <label for="" id="label1">Enter Old Password:</label><br>
                <input type="text" id="emailInput" name="old_password" placeholder="Enter Old Password" required
                    style="margin-bottom: 20px;"><br>

                <label for="" id="label1">Enter New Password:</label><br>
                <input type="password" id="emailInput" name="new_password" placeholder="Enter New Password" required
                    style="margin-bottom: 20px;"><br>

                <label for="" id="label2">Re-Enter New Password:</label> <br>
                <input type="password" id="emailInput" name="re_type_password" placeholder="Re-type New Password"
                    required> <br>

                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>

    <script>
        // Code for displaying active links
        const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

        allSideMenu.forEach(item => {
            const li = item.parentElement;

            item.addEventListener('click', function () {
                allSideMenu.forEach(i => {
                    i.parentElement.classList.remove('active');
                })
                li.classList.add('active');
            })
        });


        // TOGGLE SIDEBAR --> to display the sidebar after clicking the menu icon 
        const menuBar = document.querySelector('#content nav .bx.bx-menu');
        const sidebar = document.getElementById('sidebar');

        menuBar.addEventListener('click', function () {
            sidebar.classList.toggle('hide');
        })

        // Getting error Message
        const successMessage = document.getElementById('error');

        // Hiding the Error Message
        function hideSuccessMessage() {
            successMessage.style.display = 'none';
        }

        // Delay in milliseconds (e.g., 3000 for 3 seconds)
        const delay = 3000;

        // Hiding Error message after Delay time
        setTimeout(hideSuccessMessage, delay);
    </script>
</body>

</html>