<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/pictures/icon.webp" type="image/x-icon">
    <title>Register Page</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>
    <div class="background"></div>

    <div class="navbar">
        <div class="image">
            <img src="/static/pictures/logo.png" alt="Logo" height="70px" width="100px">
        </div>
        <div class="btn">
            <div class="home">
                <button><a href="/" id="btn2">Home</a></button>
            </div>
            <div class="register">
                <button><a href="/signup" id="btn1">Register</a></button>
            </div>
            <div class="signin">
                <button><a href="/signin" id="btn2">SignIn</a></button>
            </div>
        </div>
    </div>

    <div class="line">
        <hr>
    </div>

    <div class="container">
        <h1>SCMXPertLite</h1>
        <h2>Create Account</h2>
        <form id="signup-form" action="/signup" method="post">

            <div class="fields">
                <label for="name">Your name?*</label>
                <input type="text" id="name" name="name" placeholder="Enter your full name" required>
            </div>

            <div class="fields">
                <label for="email">Email Address*</label>
                <input type="email" id="mail" name="mail" placeholder="Enter your Email Address" required>
            </div>

            <div class="fields">
                <label for="password">Password*</label>
                <input type="password" id="password" name="password" placeholder="Enter New Password" required>
            </div>

            <div class="fields">
                <label for="con-password">Confirm Password*</label>
                <input type="password" id="con-password" name="con_password" placeholder="Confirm New Password"
                    required>
            </div>

            <div class="visible">
                <div id="error">{%if error%}{{error}}{%endif%}</div>
            </div>

            <div class="submit">
                <button type="submit" onclick="signup()">Sign Up</button>
            </div>

            <hr id="inner_line">
            <p>Already have an Account? <a href="/signin">SignIn</a></p>
        </form>
    </div>

    <script>
        
        
        // Getting error Message
        const successMessage = document.getElementById('error');

        // Hiding the Error Message
        function hideSuccessMessage() {
            successMessage.style.display = 'none';
        }

        // Delay in milliseconds (e.g., 3000 for 3 seconds)
        const delay = 3000;

        // Hiding Error message after Delay time
        setTimeout(hideSuccessMessage, delay);

    </script>
</body>

</html>